[user]
	name = kassem00
	email = kamsdonga@gmail.com
	passwd = saperit1234A@
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[core]
	editor = code --wait
[credential]
	helper = cache --timeout=86400
